aioauth-client==0.27.2
aiohttp==3.7.4.post0
anyio==3.3.4
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
gitdb==4.0.9
GitPython==3.1.24
h11==0.12.0
httpcore==0.13.7
httpx==0.19.0
idna==3.3
multidict==5.2.0
openttd-helpers==1.0.1
ply==3.11
python-slugify==5.0.2
PyYAML==6.0
regex==2021.10.23
rfc3986==1.5.0
sentry-sdk==1.4.3
smmap==4.0.0
sniffio==1.2.0
text-unidecode==1.3
typing-extensions==3.10.0.2
urllib3==1.26.7
wcwidth==0.2.5
wikitexthtml==0.1.3
wikitextparser==0.47.5
yarl==1.7.0
