*, ::before, ::after {
	box-sizing: border-box;
}
html {
	background: #eeeeee;
	color: black;
	font-family: "Trebuchet MS", Arial, Verdana, Sans-Serif;
	font-size: 12px;
}
body {
	margin: auto auto;
}
img {
	border: 0px;
}

body > * {
	max-width: 1020px;
}

body > header {
	margin: 0px auto;
	padding: 6px 10px 6px 10px;
    box-shadow: 0px 0px 5px #000000;
    background-color: #333333;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

body > nav {
	background: #555555;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 0px 5px #000000;
	margin: 0px auto;
	min-height: 32px;
	overflow: scroll; /* If the breadcrumbs are longer than the width of the screen, allow horizontal scrolling */
	scrollbar-width: none;
	white-space: nowrap;
}

body > nav::-webkit-scrollbar {
    display: none;
}

#navigation-bar {
	display: flex;
	margin: 0px;
	padding: 0px;
}
#navigation-bar li {
	font-size: 12px;
	flex-grow: 1;
	line-height: 32px;
	list-style-type: none;
}
#navigation-bar li a {
	color: #DDDDDD;
	display: block;
	padding: 0px 3px 0px 3px;
	text-decoration: none;
	text-align: center;
}
#navigation-bar li a:focus, #navigation-bar li a:hover {
	background: linear-gradient(#C4C4C4, #A5A5A5);
	color: #444444;
}
#navigation-bar li.selected {
	background: linear-gradient(#D0FC85, #B2FF3F);
}
#navigation-bar li.selected a {
	color: #444444;
}

main {
	background-color: white;
	margin: 12px auto;
	padding: 7px;
	border-radius: 5px;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
}
body > footer {
	background-color: white;
	margin: 0 auto 36px auto;
	padding: 7px 7px 6px 7px;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
}
#content-bottom-links {
	float: left;
	font-size: 11px;
	padding: 3px 5px;
}
#content-bottom-copyright {
	float: right;
	font-size: 11px;
	padding: 3px 5px;
}

main {
    font-family:  "Helvetica Neue", Helvetica, Arial, freesans, clean, sans-serif;
    font-size: 15px;
    line-height: 1.7;
    overflow: hidden;
    padding: 12px;
    word-wrap: break-word;
}

.overflow-hidden {
    overflow: hidden !important;
}

#pagename {
    color: white;
    font-size: 200%;
    min-height: 47px;
    max-width: 700px;
    padding: 5px 0 0 10px;
}

@media only screen and (min-width: 1020px) {
    #pagename {
        font-size: 300%;
    }
}

#navigation-bar {
    float: left;
    height: 32px;
    padding-left: 10px;
}
#navigation-bar li {
    margin: 0 8px;
}
#navigation-bar li a {
    padding: 0 6px;
}
#navigation-bar.right {
    float: right;
    padding-right: 10px;
}

#navigation-bar li.crumb:not(:first-child)::after {
    color: white;
    content: "❱";
    display: inline-block;
    left: -10px;
    position: relative;
    top: -32px;
}

a {
    text-decoration: none;
}
a:visited {
    color: purple;
}
a.new {
    color: gray;
}

#toc li {
    text-align: left;
}

#toc ul {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    margin: .3em 0;
    padding: 0;
}

#toc ul ul {
    margin: 0 0 0 2em;
}

#toc {
    background-color: #f9f9f9;
    font-size: 95%;
    padding: 5px;
}
#toc td {
    padding: 5px 12px;
}

#toc h2 {
    border: none;
    display: inline;
    font-size: 100%;
    font-weight: bold;
    padding: 0;
}
#toctitle {
    text-align: center;
}

.center {
    text-align: center;
    width: 100%;
}
.center * {
    margin-left: auto;
    margin-right: auto;
}

.thumb {
    background-color: transparent;
    margin-bottom: 0px;
    width: auto;
}
.thumbinner {
    background-color: #f9f9f9;
    display: inline-table;
    font-size: 94%;
    outline: 1px solid #ccc;
    overflow: hidden;
    padding: 3px 3px 0 3px !important;
    text-align: center;
}
.thumbcaption {
    border: none;
    caption-side: bottom;
    display: table-caption;
    font-size: 94%;
    margin-top: -5px;
    padding: 0 3px 0 3px !important;
    text-align: left;
}
.thumbcaption p {
    margin: 0;
}
main img {
    max-width: 900px;
}

.magnify {
    background: none !important;
    border: none !important;
    float: right;
    margin-right: -3px;
}

.magnify a {
    background: none !important;
    border: none !important;
    display: block;
}

p {
    margin: 8px 0 0 0;
}

.tright {
    margin: 6px 0 17px 17px;
}
.tleft {
    margin: 6px 17px 17px 0;
}

.tright, .floatright {
    clear: right;
    float: right;
}
.tleft, .floatleft {
    clear: left;
    float: left;
}

dd {
    margin: 0 0 1px 13px;
}


h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #aaa;
    font-weight: normal;
    margin: 0 0 5px 0;
    overflow: hidden;
    padding-bottom: 0px;
    padding-top: 32px;
    text-align: left;
    text-decoration: none;
    width: auto;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    padding-left: 15px;
}

h1 {
    font-size: 170%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 130%;
}
h4 {
    font-size: 110%;
}
h5 {
    font-size: 100%;
}
h6 {
    font-size: 100%;
}

table.wikitable {
    border-collapse: collapse;
    border: 1px #aaa solid;
    margin: 1px 1px 1px 0;
}
table.wikitable > * > tr > th {
    text-align: center;
}
table.wikitable > * > tr > th,
table.wikitable > * > tr > td {
    border: 1px #aaa solid;
    padding: 5px;
}

table {
    border-collapse: collapse;
}
td {
    border-collapse: collapse;
    border: 1px solid #5E5E5E;
    padding: 5px 5px 2px;
    vertical-align: top;
}

pre {
    background-color: #f9f9f9;
    border: 1px ridge #767676;
    color: Black;
    line-height: 1.2;
    padding: 10px;
    white-space: pre-wrap;
}

.external::after {
    content: "⎘";
    font-size: 85%;
    padding-left: 2px;
}

.anchor {
    float: left;
    height: 1em;
    margin-left: -0.2em;
    opacity: 0;
    position: absolute;
    text-decoration: none;
    transition-property: opacity;
    transition: 0.1s;
    width: 0.7em;
}
.anchor::after {
    content: "⌗";
}
a:not([href]) {
    color: inherit;
    text-decoration: none;
}
h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    text-decoration: none;
}
:hover > .anchor, .anchor:focus {
    opacity: 1;
}

#language-bar {
    border-bottom: 1px solid #aaa;
    margin-bottom: 5px;
    padding-right: 3px;
    text-align: right;
}
#language-bar ul {
    margin: 0;
}
#language-bar ul li {
    display: inline-block;
    height: 2.5em;
    line-height: 1.1;
    list-style-image: none;
    list-style-type: none;
    margin-right: 2px;
    text-align: center;
    text-transform: uppercase;
    width: 26px;
}

#content-footer {
    border-top: 1px solid #aaa;
    clear: both;
    font-size: 80%;
    margin-top: 5px;
    padding: 0 3px;
}
#categories {
    float: left;
}
#categories div {
    display: inline-block;
}
#categories ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}
#categories ul li {
    display: inline-block;
    line-height: 1.1;
    list-style-image: none;
    list-style-type: none;
    margin-left: 2px;
}
#categories ul li:not(:last-child):after {
    content: " | "
}

#folder {
    float: right;
}

ul.gallery {
    display: inline-block;
    margin: 0;
    padding: 0;
}
ul.gallery li {
    display: inline-block;
    line-height: 1.1;
    list-style-image: none;
    list-style-type: none;
    margin-left: 2px;
    vertical-align: top;
}
ul.gallery li.gallerycaption {
    display: block;
    font-weight: bold;
    padding: 3px 0 6px 0 !important;
    text-align: center;
    word-wrap: break-word;
}
ul.gallery .thumb {
    border: 1px solid #aaa;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
ul.gallery .gallerytext {
    font-size: 80%;
    padding: 6px 3px 12px 3px !important;
}

.badge {
    background-color: #D52D2D;
    border-radius: 7px;
    color: white;
    display: inline-block;
    font-size: 80%;
    font-weight: bold;
    height: 14px;
    left: 8px;
    line-height: 1.45;
    margin-left: -14px;
    overflow: hidden;
    position: relative;
    top: -3px;
    width: 14px;
}

#preview, #edit-conflict-title {
    background: #D52D2D;
    color: white;
    text-align: center;
    width: 100%;
}

ul.category-files img {
    border: 1px solid #aaa;
}
ul.category-files .thumb {
    border: 0;
}
ul.category-files .thumbinner {
    outline: 0;
}
ul.category-files .thumbcaption {
    margin-top: 3px;
    margin-bottom: 12px;
    width: 130px;
}

header {
    position: relative;
}
#review-access {
    position: absolute;
    right: 30px;
    top: 40px;
}
#review-access a {
    color: #aaa;
}
#review-access a:hover {
    text-decoration: underline;
}

#no-rename {
    display: block;
    font-size: 70%;
    margin: -4px 0 4px 0;
}

#search {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    width: 100%;
}

@media only screen and (min-width: 1020px) {
    #search {
        left: 420px;
        margin: auto;
        position: relative;
        top: -80px;
        width: 152px;
    }

    main {
        /* search-bar consumes space, even if we moved it away. */
        margin-top: -10px;
    }
}

#search input[type=text] {
    background: #fff;
    border: 1px solid #8d8d8d;
    color: #222;
    height: 22px;
    margin: 0;
    outline: none;
    padding: 4px 26px 4px 6px;
    width: 100%;
}

#search-submit {
    display: inline-block;
    position: absolute;
    right: 0px;
}
#search-submit input {
    background-color: white;
    border: 0;
    border-left: 1px solid #aaa;
    cursor: pointer;
    height: 20px;
    margin: 1px 1px 0 0;
    width: 20px;
}
#search-submit:hover input {
    background-color: #aaa;
}
#search-submit div {
    pointer-events: none;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 0px;
    transform: rotate(45deg);
    width: 20px;
}
#search-submit div::after {
    color: #D52D2D;
    content: "⚲";
    font-size: 18px;
    font-weight: bold;
}

/* Syntax Highlighting Light Mode - 'default' theme generated by Pygments (pygments.org/styles) */
@media (prefers-color-scheme: light) {
.syntaxhighlighttable * { border:unset; padding:unset; color:unset; background-color:#f8f8f8; color:unset; padding:unset; box-sizing:unset; vertical-align:unset; }
.syntaxhighlighttable { border: 1px solid #dfdfdf;}

pre { line-height: 125%; }
td.code { padding: 0 0.5em; width: 100%; }
td.linenos .normal { color: #bbbbbb; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.syntaxhighlight .hll { background-color: #ffffcc }
.syntaxhighlight { background: #f8f8f8; }
.syntaxhighlight .c { color: #3D7B7B; font-style: italic } /* Comment */
.syntaxhighlight .err { border: 1px solid #FF0000 } /* Error */
.syntaxhighlight .k { color: #008000; font-weight: bold } /* Keyword */
.syntaxhighlight .o { color: #666666 } /* Operator */
.syntaxhighlight .ch { color: #3D7B7B; font-style: italic } /* Comment.Hashbang */
.syntaxhighlight .cm { color: #3D7B7B; font-style: italic } /* Comment.Multiline */
.syntaxhighlight .cp { color: #9C6500 } /* Comment.Preproc */
.syntaxhighlight .cpf { color: #3D7B7B; font-style: italic } /* Comment.PreprocFile */
.syntaxhighlight .c1 { color: #3D7B7B; font-style: italic } /* Comment.Single */
.syntaxhighlight .cs { color: #3D7B7B; font-style: italic } /* Comment.Special */
.syntaxhighlight .gd { color: #A00000 } /* Generic.Deleted */
.syntaxhighlight .ge { font-style: italic } /* Generic.Emph */
.syntaxhighlight .gr { color: #E40000 } /* Generic.Error */
.syntaxhighlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.syntaxhighlight .gi { color: #008400 } /* Generic.Inserted */
.syntaxhighlight .go { color: #717171 } /* Generic.Output */
.syntaxhighlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.syntaxhighlight .gs { font-weight: bold } /* Generic.Strong */
.syntaxhighlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.syntaxhighlight .gt { color: #0044DD } /* Generic.Traceback */
.syntaxhighlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.syntaxhighlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.syntaxhighlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.syntaxhighlight .kp { color: #008000 } /* Keyword.Pseudo */
.syntaxhighlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.syntaxhighlight .kt { color: #B00040 } /* Keyword.Type */
.syntaxhighlight .m { color: #666666 } /* Literal.Number */
.syntaxhighlight .s { color: #BA2121 } /* Literal.String */
.syntaxhighlight .na { color: #687822 } /* Name.Attribute */
.syntaxhighlight .nb { color: #008000 } /* Name.Builtin */
.syntaxhighlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.syntaxhighlight .no { color: #880000 } /* Name.Constant */
.syntaxhighlight .nd { color: #AA22FF } /* Name.Decorator */
.syntaxhighlight .ni { color: #717171; font-weight: bold } /* Name.Entity */
.syntaxhighlight .ne { color: #CB3F38; font-weight: bold } /* Name.Exception */
.syntaxhighlight .nf { color: #0000FF } /* Name.Function */
.syntaxhighlight .nl { color: #767600 } /* Name.Label */
.syntaxhighlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.syntaxhighlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.syntaxhighlight .nv { color: #19177C } /* Name.Variable */
.syntaxhighlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.syntaxhighlight .w { color: #bbbbbb } /* Text.Whitespace */
.syntaxhighlight .mb { color: #666666 } /* Literal.Number.Bin */
.syntaxhighlight .mf { color: #666666 } /* Literal.Number.Float */
.syntaxhighlight .mh { color: #666666 } /* Literal.Number.Hex */
.syntaxhighlight .mi { color: #666666 } /* Literal.Number.Integer */
.syntaxhighlight .mo { color: #666666 } /* Literal.Number.Oct */
.syntaxhighlight .sa { color: #BA2121 } /* Literal.String.Affix */
.syntaxhighlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.syntaxhighlight .sc { color: #BA2121 } /* Literal.String.Char */
.syntaxhighlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.syntaxhighlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.syntaxhighlight .s2 { color: #BA2121 } /* Literal.String.Double */
.syntaxhighlight .se { color: #AA5D1F; font-weight: bold } /* Literal.String.Escape */
.syntaxhighlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.syntaxhighlight .si { color: #A45A77; font-weight: bold } /* Literal.String.Interpol */
.syntaxhighlight .sx { color: #008000 } /* Literal.String.Other */
.syntaxhighlight .sr { color: #A45A77 } /* Literal.String.Regex */
.syntaxhighlight .s1 { color: #BA2121 } /* Literal.String.Single */
.syntaxhighlight .ss { color: #19177C } /* Literal.String.Symbol */
.syntaxhighlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.syntaxhighlight .fm { color: #0000FF } /* Name.Function.Magic */
.syntaxhighlight .vc { color: #19177C } /* Name.Variable.Class */
.syntaxhighlight .vg { color: #19177C } /* Name.Variable.Global */
.syntaxhighlight .vi { color: #19177C } /* Name.Variable.Instance */
.syntaxhighlight .vm { color: #19177C } /* Name.Variable.Magic */
.syntaxhighlight .il { color: #666666 } /* Literal.Number.Integer.Long */
}

/* Syntax Highlighting Dark Mode - 'dracula' theme generated by Pygments (pygments.org/styles) */
@media (prefers-color-scheme: dark) {
.syntaxhighlighttable * { border:unset; padding:unset; color:unset; background-color:#263238; color:unset; padding:unset; box-sizing:unset; vertical-align:unset; }
.syntaxhighlighttable { border: 1px solid #dfdfdf;}

pre { line-height: 125%; }
td.code { padding: 0 0.5em; width: 100%; }
td.linenos, td.linenos * { background-color: #4d6774;}
td.linenos .normal { color: #b9c6c6; background-color: #4d6774; padding: 0 0.3em 0 0.5em; }
span.linenos { color: #37474F; background-color: #263238; padding: 0 5px; }
td.linenos .special { color: #607A86; background-color: #263238; padding: 0 5px; }
span.linenos.special { color: #607A86; background-color: #263238; padding: 0 5px; }
.syntaxhighlight pre { background-color: transparent;}
.syntaxhighlight .hll { background-color: #2C3B41 }
.syntaxhighlight { background: #263238; color: #EEFFFF }
.syntaxhighlight .c { color: #546E7A; font-style: italic } /* Comment */
.syntaxhighlight .err { color: #FF5370 } /* Error */
.syntaxhighlight .esc { color: #89DDFF } /* Escape */
.syntaxhighlight .g { color: #EEFFFF } /* Generic */
.syntaxhighlight .k { color: #BB80B3 } /* Keyword */
.syntaxhighlight .l { color: #C3E88D } /* Literal */
.syntaxhighlight .n { color: #EEFFFF } /* Name */
.syntaxhighlight .o { color: #89DDFF } /* Operator */
.syntaxhighlight .p { color: #89DDFF } /* Punctuation */
.syntaxhighlight .ch { color: #546E7A; font-style: italic } /* Comment.Hashbang */
.syntaxhighlight .cm { color: #546E7A; font-style: italic } /* Comment.Multiline */
.syntaxhighlight .cp { color: #546E7A; font-style: italic } /* Comment.Preproc */
.syntaxhighlight .cpf { color: #546E7A; font-style: italic } /* Comment.PreprocFile */
.syntaxhighlight .c1 { color: #546E7A; font-style: italic } /* Comment.Single */
.syntaxhighlight .cs { color: #546E7A; font-style: italic } /* Comment.Special */
.syntaxhighlight .gd { color: #FF5370 } /* Generic.Deleted */
.syntaxhighlight .ge { color: #89DDFF } /* Generic.Emph */
.syntaxhighlight .gr { color: #FF5370 } /* Generic.Error */
.syntaxhighlight .gh { color: #C3E88D } /* Generic.Heading */
.syntaxhighlight .gi { color: #C3E88D } /* Generic.Inserted */
.syntaxhighlight .go { color: #546E7A } /* Generic.Output */
.syntaxhighlight .gp { color: #FFCB6B } /* Generic.Prompt */
.syntaxhighlight .gs { color: #FF5370 } /* Generic.Strong */
.syntaxhighlight .gu { color: #89DDFF } /* Generic.Subheading */
.syntaxhighlight .gt { color: #FF5370 } /* Generic.Traceback */
.syntaxhighlight .kc { color: #89DDFF } /* Keyword.Constant */
.syntaxhighlight .kd { color: #BB80B3 } /* Keyword.Declaration */
.syntaxhighlight .kn { color: #89DDFF; font-style: italic } /* Keyword.Namespace */
.syntaxhighlight .kp { color: #89DDFF } /* Keyword.Pseudo */
.syntaxhighlight .kr { color: #BB80B3 } /* Keyword.Reserved */
.syntaxhighlight .kt { color: #BB80B3 } /* Keyword.Type */
.syntaxhighlight .ld { color: #C3E88D } /* Literal.Date */
.syntaxhighlight .m { color: #F78C6C } /* Literal.Number */
.syntaxhighlight .s { color: #C3E88D } /* Literal.String */
.syntaxhighlight .na { color: #BB80B3 } /* Name.Attribute */
.syntaxhighlight .nb { color: #82AAFF } /* Name.Builtin */
.syntaxhighlight .nc { color: #FFCB6B } /* Name.Class */
.syntaxhighlight .no { color: #EEFFFF } /* Name.Constant */
.syntaxhighlight .nd { color: #82AAFF } /* Name.Decorator */
.syntaxhighlight .ni { color: #89DDFF } /* Name.Entity */
.syntaxhighlight .ne { color: #FFCB6B } /* Name.Exception */
.syntaxhighlight .nf { color: #82AAFF } /* Name.Function */
.syntaxhighlight .nl { color: #82AAFF } /* Name.Label */
.syntaxhighlight .nn { color: #FFCB6B } /* Name.Namespace */
.syntaxhighlight .nx { color: #EEFFFF } /* Name.Other */
.syntaxhighlight .py { color: #FFCB6B } /* Name.Property */
.syntaxhighlight .nt { color: #FF5370 } /* Name.Tag */
.syntaxhighlight .nv { color: #89DDFF } /* Name.Variable */
.syntaxhighlight .ow { color: #89DDFF; font-style: italic } /* Operator.Word */
.syntaxhighlight .w { color: #EEFFFF } /* Text.Whitespace */
.syntaxhighlight .mb { color: #F78C6C } /* Literal.Number.Bin */
.syntaxhighlight .mf { color: #F78C6C } /* Literal.Number.Float */
.syntaxhighlight .mh { color: #F78C6C } /* Literal.Number.Hex */
.syntaxhighlight .mi { color: #F78C6C } /* Literal.Number.Integer */
.syntaxhighlight .mo { color: #F78C6C } /* Literal.Number.Oct */
.syntaxhighlight .sa { color: #BB80B3 } /* Literal.String.Affix */
.syntaxhighlight .sb { color: #C3E88D } /* Literal.String.Backtick */
.syntaxhighlight .sc { color: #C3E88D } /* Literal.String.Char */
.syntaxhighlight .dl { color: #EEFFFF } /* Literal.String.Delimiter */
.syntaxhighlight .sd { color: #546E7A; font-style: italic } /* Literal.String.Doc */
.syntaxhighlight .s2 { color: #C3E88D } /* Literal.String.Double */
.syntaxhighlight .se { color: #EEFFFF } /* Literal.String.Escape */
.syntaxhighlight .sh { color: #C3E88D } /* Literal.String.Heredoc */
.syntaxhighlight .si { color: #89DDFF } /* Literal.String.Interpol */
.syntaxhighlight .sx { color: #C3E88D } /* Literal.String.Other */
.syntaxhighlight .sr { color: #89DDFF } /* Literal.String.Regex */
.syntaxhighlight .s1 { color: #C3E88D } /* Literal.String.Single */
.syntaxhighlight .ss { color: #89DDFF } /* Literal.String.Symbol */
.syntaxhighlight .bp { color: #89DDFF } /* Name.Builtin.Pseudo */
.syntaxhighlight .fm { color: #82AAFF } /* Name.Function.Magic */
.syntaxhighlight .vc { color: #89DDFF } /* Name.Variable.Class */
.syntaxhighlight .vg { color: #89DDFF } /* Name.Variable.Global */
.syntaxhighlight .vi { color: #89DDFF } /* Name.Variable.Instance */
.syntaxhighlight .vm { color: #82AAFF } /* Name.Variable.Magic */
.syntaxhighlight .il { color: #F78C6C } /* Literal.Number.Integer.Long */
}
